<script>
  $(document).ready(function() {
    init();
  });
</script>

<h1>Web Robot Controller</h1>
<div id="main-content">
  <div id="urdf"></div>
  <div id="control-content">
    <table>
      <tr><td></td><td>startState</td><td>goalState</td></tr>
      <tr>
        <td>
          View
        </td>
        <td>
          <input type="checkbox" name="start_state" id="start_state"/>
        </td>
        <td>
          <input type="checkbox" name="goal_state" id="goal_state"/>
        </td>
      </tr>
      <tr>
        <td>
          Maniplation
        </td>
        <td>
          <input type="radio" name="manip" id="manip" value="0"/>
        </td>
        <td>
          <input type="radio" name="manip" id="manip" value="1"/>
        </td>
      </tr>
    </table>
    <li>IM-Size
      <input type="number" name="number" id="im-size"
             value="0.3" min="0" max="3" step="0.1"
             onchange="im_size_callback()"/>
    </li>
    <button id="init">Init</button>
    <button id="preview">Preview</button>
    <button id="plan">Plan</button>
    <button id="execute">Execute</button>
    <button id="moveit">Plan & Execute</button>
    <select id="group" name="group">
    </select>
    <div id="slider-pane">
    </div>
  </div>
</div>
</div>
<!--    <div id="camera">
        <img src="hoge" width="0px" height="0px" />
        <img style="-webkit-user-select: none"
             src="http://localhost:8080/stream?topic=/usb_cam/image_raw"
        /></div>-->