<% content_for :header do %>

  <script src="http://cdn.robotwebtools.org/threejs/current/three.js"></script>
  <script src="http://cdn.robotwebtools.org/EventEmitter2/current/eventemitter2.js"></script>
  <script src="http://cdn.robotwebtools.org/roslibjs/current/roslib.js"></script>
  <script src="http://cdn.robotwebtools.org/ros3djs/current/ros3d.js"></script>
  <script src="http://cdn.robotwebtools.org/ColladaAnimationCompress/current/ColladaLoader2.js"></script>
  <%= javascript_include_tag 'basic' %>

  <script>
    $(document).ready(function() {
      init();
    });
  </script>
<% end %>

<div class="col-md-9">
  <div id="urdf"></div>
</div>

<div class="col-md-3">
  <div class="form-horizontal controller-pane">
    <div class="form-group">
      <div class="row row-centered">
        <div class="col-md-4"></div>
        <div class="col-md-4">Start State</div>
        <div class="col-md-4">Goal State</div>
      </div>

      <div class="row row-centered">
        <div class="col-md-4"><label>View</label></div>
        <div class="col-md-4"><input type="checkbox" name="start_state" id="start_state"/></div>
        <div class="col-md-4"><input type="checkbox" name="goal_state" id="goal_state"/></div>
      </div>

      <div class="row row-centered">
        <div class="col-md-4"><label>Manipulation</label></div>
        <div class="col-md-4"><input type="radio" name="manip" id="manip" value="0"/></div>
        <div class="col-md-4"><input type="radio" name="manip" id="manip" value="1"/></div>
      </div>
    </div>

    <div class="form-group">
      <label for="imSize">IM-Size</label>
      <input
        type="number"
        class="form-control"
        name="number"
        id="im-size"
        value="0.3"
        min="0"
        max="3"
        step="0.1"
        onchange="im_size_callback()"/>
    </div>

    <div class="form-group">
      <button type="button" class="btn btn-default" id="init">Init</button>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-default" id="preview">Preview</button>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-default" id="plan">Plan</button>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-default" id="execute">Execute</button>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-default" id="moveit">Plan & Execute</button>
    </div>
    <div class="form-group">
      <label for="imSize">Show</label>
      <select class="form-control" id="group" name="group"></select>
    </div>

    <!-- The jquery creates a form-group per slider-->
    <div id="slider-pane"></div>

  </div>
</div>

<!--    <div id="camera">
        <img src="hoge" width="0px" height="0px" />
        <img style="-webkit-user-select: none"
             src="http://localhost:8080/stream?topic=/usb_cam/image_raw"
        /></div>-->