div#urdf {
    width: 100%;
    height: 100%;
}

.controller-pane {
    padding: 20px;
}

.controller-pane .btn {
    width: 100%;
}

.row-centered {
    text-align:center;
}

.controller-pane-form-group {
    margin-left: 0;
    margin-right: 0;
}
