<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand">Web Robot Controller</span>
    </div>

    <ul class="nav nav-pills pull-right">
      <% if user_signed_in? %>
        <li><span class="navbar-text">Logged in as <strong><%= current_user.email %></strong></span></li>
        <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
      <% else %>
        <li><%= link_to "Sign in", new_user_session_path %></li>
      <% end %>
    </ul>

  </div>
</nav>